<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    \
    <title>ABOUT</title>
  </head>
  <body>
    
    <!-- HEADER -->
    <header>
      <div id="navbar"></div>
    </header>

    <!-- MAIN -->
    <main>
      <section id="landing_sec">
        <h1>hi</h1>
      </section>
    </main>

    <!-- FOOTER -->
    <footer>

    </footer>

    <!-- GLOBAL JS -->
    <script src="../js/main.js"></script>
  </body>
</html>
